@model dynamic



@{ ViewData["Title"] = "Stok Maliyet"; }


@section Scripts{
    <script type="text/javascript" language="”JavaScript”">window.history.forward(1);</script>

    <script type="text/javascript">var recordtable;
        var _defaulttablename = "stokmaliyetQuery";



        var tip;
        var stock = 0;
        var toplammaliyet = 0;
        var stockdizi = [];
        var toplammaliyetdizi = [];


        $(function () {



            $('#recordtable').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                            search: 'none'
                        }
                    },
                    //the remaining buttons here
                }],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                },
                pageLength: 50,
                paging: true,
                searching: true

            });

            $(".dataTable tbody").on("click", "a.btnsearch", function () {
                var text = $(this).attr("data-text");
                $('input[type=search]').val(text);
                $('input[type=search]').keyup();
                if (marka == '' || marka == null) {
                    $('.filtre_silici').addClass('hidden');
                }
            });


        });</script>


}



<div class="col-md-12">

    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb" style="padding-top:30px;">
        <ol class="breadcrumb ">

            <li class="breadcrumb-item active" aria-current="page ">
                <h3>
                    Stok Yaşlandırma
                </h3>
            </li>
        </ol>
    </nav>

</div>

<div class="container-fluid">
    
    <div class="row">

        <div class="form-group col-md-2  p-3">
            <label>Temsilci </label>
            <input id="temsilci" class="form-control " placeholder="Temsilci" value="@CurrentSession.Username" disabled>
        </div>
        <div class="col-12">
            <div class="card">

            </div>
        </div>
        <div class="col-12">
            <div class="card">

                <div class="card-body">


                    <div class="table-responsive">

                        <table id="recordtable" class="table-bordered display dataTable" style="width:100%; font-size:14px;">
                            <thead style="background-color:#1f2937; height:42px;">

                                <tr style="color:#F1F1F1; ">
                                    <th>Malzeme Kodu</th>
                                    <th>Malzeme Adı</th>
                                    <th>Miktar</th>
                                    <th>Stok Miktarı </th>
                                    <th>Giriş Tarihi</th>
                                    <th>Stok Günü</th>
                                    <th>Firma</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                    @foreach (var item in Model)
                    {

    <tr>

        <td>

            @item.MLZ_KODU
        </td>
        <td>
            @item.MLZ_ADI
        </td>
        <td>
            @item.MIKTAR
        </td>

        <td>
            @item.MIKTAR_STOK
        </td>
        <td>
            @item.GIRIS_TARIHI

        </td>
        <td>
            @item.STOK_GUN
        </td>
        <td>
            @item.CH_UNVANI
        </td>






    </tr>} 
                
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>