@model CiroGunHaftaAyModel
@{
}
<style>
    h4 {
        font-weight: bold;
    }
</style>

<div class="row  col-md-12 mt-5">


    <div class="col-12 col-sm-6 mt-4 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="h5">Bugün</h2>
                            <h3 class="fw-extrabold mb-1"> @string.Format("{0:#,0}", Model.gunlukciro)</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Bugün</h2>
                            <h3 class="fw-extrabold mb-2"> @string.Format("{0:#,0}", Model.gunlukciro)</h3>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">

                            <h6>@string.Format("{0:#,0}", Model.gunlukadet) adet</h6>

                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 mt-4 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="fw-extrabold h5">Bu Hafta</h2>
                            <h3 class="mb-1"> @string.Format("{0:#,0}", Model.haftalikciro)</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Bu Hafta</h2>
                            <h3 class="fw-extrabold mb-2"> @string.Format("{0:#,0}", Model.haftalikciro)</h3>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">
                            <h6>
                                @string.Format("{0:#,0}", Model.haftalikadet) adet
                            </h6>

                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mt-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="fw-extrabold h5"> Bu Ay</h2>
                            <h3 class="mb-1">  @string.Format("{0:#,0}", Model.aylikciro)</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0"> Bu Ay</h2>
                            <h3 class="fw-extrabold mb-2">  @string.Format("{0:#,0}", Model.aylikciro)</h3>
                        </div>
                        <small class="text-gray-500">
                            <h6>
                                @string.Format("{0:#,0}", Model.aylikadet)  adet
                            </h6>
                        </small>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@if (CurrentSession.Roles.Contains("Yonetim"))
{
    <div class="card mb-3">
        <div class="card-body">
            <div class="row" id="tips">


                <div class="col-md-3 p-3">
                    <label>İşlem Tarihi</label>
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="start"
                               value="@DateTime.Now.AddDays(-3).ToString("dd.MM.yyyy")"
                               id="bastarih"
                               placeholder="Start" />
                        <span class="input-group-addon"></span>
                        <input type="text" class="input-sm form-control" name="end"
                               value="@DateTime.Now.ToString("dd.MM.yyyy")"
                               id="bistarih"
                               placeholder="End" />
                    </div>


                </div>
                <div class=" col-md-3  p-3">
                    <label>Firma </label>
                    <select class="form-control" id="markaselect">
                        <option>Tüm Markalar</option>
                    </select>
                </div>
                <div class="col-md-3  p-3">
                    <label>Türler </label>
                    <select class="form-control" id="turselect">
                        <option>Tüm Türler</option>


                    </select>
                </div>




                <div class=" col-md-3 p-4" style="margin-top:15px">
                    <button class="btn btn-warning mr-1 btn-raised" id="btnara"><i class="fa fa-search"></i> Uygula</button>
                </div>
                @*<div id="moons" class="form-row">*@








            </div>
        </div>
    </div>
    

    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">

                <div class="table-responsive">

                    <table id="recordtable" class="table table-sm table-striped table-bordered dataTable" style="width:100%; font-size:12px;">
                        <thead style="background-color:#1f2937; height:42px;">

                            <tr style="color:#F1F1F1; ">

                                <th> İsim </th>
                                <th> Adet </th>
                                <th> Firma </th>
                                <th> Çesit </th>
                                <th> Ciro </th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



}


@section Scripts{
    <script src="/amcharts/amcharts/amcharts.js"></script>
    <script src="/amcharts/amcharts/serial.js"></script>
    <script src="/amcharts/amcharts/plugins/export/export.min.js"></script>
    <script src="/amcharts/amcharts/plugins/dataloader/dataloader.min.js"></script>
    <link rel="stylesheet" href="/amcharts/amcharts/plugins/export/export.css" type="text/css" media="all" />
    @*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>*@

    <script type="text/javascript">
        $(function () {


            Getbrands();
            GetTips();
            $('.input-daterange').datepicker({
                isRTL: false,
                format: 'dd.mm.yyyy',
                autoclose: true,
                language: 'tr'
            });

            var bastarih = moment($("#bastarih").datepicker("getDate")).format("YYYY-MM-DD");
            var bistarih = moment($("#bistarih").datepicker("getDate")).format("YYYY-MM-DD");
            var markaselect = $("#markaselect").val();
            var turselect = $("#turselect").val();

            chart();
            getdashboardrapor();
            $("#btnara").click(function () {

                bastarih = moment($("#bastarih").datepicker("getDate")).format("YYYY-MM-DD");
                bistarih = moment($("#bistarih").datepicker("getDate")).format("YYYY-MM-DD");
                markaselect = $("#markaselect").val();
                turselect = $("#turselect").val();

                chart();
                getdashboardrapor();
            });


            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
                //startDate: '-3d'
            });

            function chart() {
                var chart = AmCharts.makeChart("chartdiv", {
                    "language": "en",
                    "type": "serial",
                    "dataLoader": {
                        "url": "/Home/getdashboardrapor?bastarih=" + bastarih + "&bistarih=" + bistarih + "&markaselect=" + markaselect + "&turselect=" + turselect + "",
                        "format": "json"
                    },
                    "dataDateFormat": "YYYY-MM-DD",
                    "precision": 0,
                    "valueAxes": [{
                        "id": "v1",
                        "title": "Ciro",
                        "position": "left",
                        "autoGridCount": false,
                        "labelFunction": function (value) {
                            return "" + Math.round(value * 1000) + " ₺";
                        }
                    }, {
                        "id": "v2",
                        "title": "Adet",
                        "gridAlpha": 0,
                        "position": "right",
                        "autoGridCount": false
                    }],
                    "graphs": [{
                        "id": "g3",
                        "valueAxis": "v2",
                        "lineColor": "#e7505a",
                        "fillColors": "#e7505a",
                        "fillAlphas": 1,
                        "type": "column",
                        "title": "Firma",
                        "valueField": "firma",
                        "clustered": false,
                        "columnWidth": 0.5,
                        "legendValueText": "[[value]]",
                        "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
                    }, {
                        "id": "g4",
                        "valueAxis": "v1",
                        "lineColor": "#62cf73",
                        "fillColors": "#62cf73",
                        "fillAlphas": 1,
                        "type": "column",
                        "title": "Ciro",
                        "valueField": "ciro",
                        "clustered": false,
                        "columnWidth": 0.3,
                        "legendValueText": "[[value]] ₺",
                        "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]],000</b> ₺"
                    }, {
                        "id": "g1",
                        "valueAxis": "v1",
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#FFFFFF",
                        "bulletSize": 5,
                        "hideBulletsCount": 50,
                        "lineThickness": 5,
                        "lineColor": "#20acd4",
                        "type": "line",
                        //"type": "smoothedLine",
                        "title": "Adet",
                        "useLineColorForBulletBorder": true,
                        "valueField": "adet",
                        "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
                    }, {
                        "id": "g2",
                        "valueAxis": "v2",
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#FFFFFF",
                        "bulletSize": 5,
                        "hideBulletsCount": 50,
                        "lineThickness": 5,
                        "lineColor": "#8E44AD",
                        "type": "line",
                        //"type": "smoothedLine",
                        "dashLength": 5,
                        "title": "Çeşit",
                        "useLineColorForBulletBorder": true,
                        "valueField": "cesit",
                        "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
                    }],
                    "chartScrollbar": {
                        "graph": "g1",
                        "oppositeAxis": false,
                        "offset": 30,
                        "scrollbarHeight": 50,
                        "backgroundAlpha": 0,
                        "selectedBackgroundAlpha": 0.1,
                        "selectedBackgroundColor": "#888888",
                        "graphFillAlpha": 0,
                        "graphLineAlpha": 0.5,
                        "selectedGraphFillAlpha": 0,
                        "selectedGraphLineAlpha": 1,
                        "autoGridCount": true,
                        "color": "#AAAAAA"
                    },
                    "chartCursor": {
                        "pan": true,
                        "valueLineEnabled": true,
                        "valueLineBalloonEnabled": true,
                        "cursorAlpha": 0,
                        "valueLineAlpha": 0.2
                    },
                    "categoryField": "tarih",
                    "categoryAxis": {
                        "parseDates": true,
                        "dashLength": 1,
                        "minorGridEnabled": true
                    },
                    "legend": {
                        "useGraphSettings": false,
                        "position": "bottom"
                    },
                    "balloon": {
                        "borderThickness": 1,
                        "shadowAlpha": 0
                    },
                    "export": {
                        "enabled": true
                    }
                });
            }

            var cirotoplam = 0;
            function getdashboardrapor() {

                $.ajax({
                    type: "POST",
                    url: "/Home/Getdashboardrapor2",
                    data: JSON.stringify({
                        "bastarih": bastarih,
                        "bistarih": bistarih,
                        "markaselect": markaselect,
                        "turselect": turselect
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#recordtable tbody").html("");
                        var cirotoplam = 0;
                        var adettoplam = 0;
                        var firmatoplam = 0;
                        for (var i = 0; i < msg.length; i++) {
                            tableadd(msg[i].kullanici, msg[i].adet, msg[i].firma, msg[i].cesit, numeral(msg[i].ciro).format('0,0'));
                            cirotoplam = cirotoplam + msg[i].ciro;
                            adettoplam = adettoplam + msg[i].adet;
                            firmatoplam = firmatoplam + msg[i].firma;
                        }
                        tableadd("Toplam", adettoplam, firmatoplam, "", numeral(cirotoplam).format('0,0'));



                    }
                })
            }




            function tableadd(kullanici, adet, firma, cesit, ciro) {

                var table = "<tr>"
                    + " <td> " + kullanici + " </td>"
                    + " <td> " + adet + " </td>"
                    + " <td> " + firma + " </td>"
                    + " <td> " + cesit + "</td>"
                    + " <td> " + ciro + " </td>"
                    + " </tr>";
                $("#recordtable tbody").append(table);


            }


        })
    </script>


    <script type="text/template" id="formbutce">

        <div class="form-group">
            <label class="float-left">Butce</label>
            <input class="form-control " type="text" id="lastcost" />
        </div>

    </script>
}
